<h2>Resend unlock instructions</h2>
<div class="signupPage">
  <header class="header">
    <div>アカウントを作成</<div>
  </header>
  <!-- 以下フォーム部分 -->
  <div class="container">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "mt-5" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <label for="file_photo" class="rounded-circle userProfileImg">
      <div class="userProfileImg_description">画像をアップロード</div>
      <i class="fas fa-camera fa-3x"></i>
      <%=f.file_field :img_name, id: "file_photo" %>
    </label>

    <div class="UserImgPreview" id="UserImgPreview">
      <img id="thumbnail" class="UserImgPreview_conttent" accept="image/*" src="">
      <p class="UserImgPreview_text">画像アップロード済み</p>
    </div>

    <div class="form-group">
      <label>名前</label>
      <%= f.text_field :name, class: "form-control", placeholder: "名前を入力してください" %>
    </div>

    <div class="form-group">
      <label>eメールアドレス</label>
      <%= f.text_field :email, class: "form-control", placeholder: "eメールを入力してください" %>
      <%# <%= f.label :email %>
      <%# <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="form-group">
      <label>パスワード</label>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %>文字以上入力してください)</em>
      <% end %><br/>
      <%= f.password_field :password, class: "form-control", placeholder: "パスワードを入力してください", autocomplete: "off" %>
    </div>

    <div class="form-group">
      <label>確認用パスワード</label>
      <%= f.password_field :password, class: "form-control", placeholder: "パスワードを再度入力してください", autocomplete: "off" %>
    </div>

    <div class="form-group">
      <div><label for=''>性別</label></div>
      <div class="form-check form-check-inline">
        <%= f.radio_button :sex, "男", class: "form_check_input", id: "inlineRadio1" %>
        <label class="form-check-label" for="inlineRadio1">男</label>
      </div>
      <div class="form-check form-check-inline">
        <%= f.radio_button :sex, "女", class: "form_check_input", id: "inlineRadio2" %>
        <label class="form-check-label" for="inlineRadio2">女</label>
      </div>
    </div>

    <div class="form-group">
      <label>自己紹介文</label>
      <%= f.text_field :self_introduction, maxlength: "1000", rows: "10", class: "form-control", placeholder: "自己紹介を記入してください" %>
    </div>

    <div class="text-center">
      <%= f.submit "はじめる", class:"btn submitBtn" %>
      <%= render "devise/shared/links" %>
    </div>


  <% end %>
  <!-- フォーム部分ここまで -->
</div>
</div>
